html, body {
  margin: 0;
  height: 100%;
}

body {
  background: black;
  overflow: hidden;
}

#cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
#cover.exiting {
  animation: fwoosh-out 0.5s ease forwards;
}
#cover svg {
  margin: auto;
  width: 66%;
  max-width: 700px;
}

#deck {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
}
#deck .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fwoosh-in 0.5s ease forwards;
}
#deck .slide.exiting {
  animation: fwoosh-out 0.5s ease forwards;
}
#deck img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: 0 auto;
}

#deck .slide-text-cont {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: table;
}
#deck .slide-text-cont .slide-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  /*color: #8b2c00;*/
  color: #f1f1f1;
  font-family: 'VT323', monospace;
  background-color: rgba(0,0,0,0.66);
  opacity: 0;
  transition: opacity 0.25s ease;
}
#deck .slide-text-cont .slide-text.active {
  opacity: 1;
}

@keyframes fwoosh-in {
  0% {
    opacity: 0;
    transform: scale(0.66);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fwoosh-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.33);
  }
}
